.page {
  display: flex;
  height: 700px;
  flex-direction: column;
  align-items: center;
}

.heading {
  text-align: center;
  font-size: 2rem;
  color: white;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

// @media (min-width: 1200px) {
//   .page {
//     margin: auto;
//     width: 90%;
//   }
// }
