
.profile-head {
    transform: translateY(5rem)
}

body {
    background: #654ea3;
    background: linear-gradient(to right, #e96443, #904e95);
    min-height: 100vh;
}

.myDataDetails {
    display: flex;
    justify-content: center;
}

.avatarName {
    display: flex;
    flex-direction: column;
}

.buttons {
    width: 200px;
    height: max-content;
}

.collapsible {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important;
    text-align: center;
}

.nickButton {
    display: flex;
    justify-content: center;
    align-items: center;
}

.emailButton {
    display: flex;
    justify-content: center;
    align-items: center;
}

.PasswordFields {
    display: flex;
    justify-content: center;
}

.Collapsible {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important;
    text-align: center;
    cursor: pointer;
}