
.profile-head {
    transform: translateY(5rem)
}

body {
    background: #654ea3;
    background: linear-gradient(to right, #e96443, #904e95);
    min-height: 100vh
}

.myDataDetails {
    display: flex;
   justify-content: center;
}

.avatarName {
    display: flex;
    flex-direction: column;
}


.nickEmail {
    display: flex;
    flex-direction: row;
    margin-bottom: 5%;
}

.emailButton {
    display: flex;
    flex-direction: row;
    width: 50%;
}

.collapsible {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important;
    text-align: center;
}

.nickButton {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
}

.emailButton {
    display: flex;
    justify-content: center;
    align-items: center;
}

.PasswordFields {
    display: flex;
    justify-content: center;
}

.Collapsible {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important;
    text-align: center;
    cursor: pointer;
}
